apiVersion: v1
kind: Secret
metadata:
  name: etx-git-repository
  namespace: {{ etx_gitops_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: {{ etx_git_repo_url }}
  username: git
  password: {{ etx_git_token }}
